<form method="get" action="/quizes/<%= quiz.id %>/answer">
	 <%= quiz.pregunta %> <p>
	 <p>El tema de la pregunta es: <%= quiz.tema %></p>
	<input type="text" name="respuesta" value="Respuesta"/>
	<input type="submit" value="Enviar">
</form>